# Engenharia de Machine Learning - XP Educação - Trabalho Prático 3 - out/2022

## Carregando as bibliotecas

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #bibloteca para plotar graficos

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [8]:
# carregando o dataset
dfblood = pd.read_csv("bloodtransf.csv")
dfdiabetes = pd.read_csv("diabetes_numeric.csv")
dfwine = pd.read_csv("wine.csv")

## Tarefa de Regressão Linear 
- Dataset: diabetes_numeric.csv

In [35]:
# Base de regressão Regressão Linear
print(dfdiabetes.shape)
dfdiabetes.head()

(43, 3)

    age  deficit  c_peptide
0   5.2     -8.1        4.8
1   8.8    -16.1        4.1
2  10.5     -0.9        5.2
3  10.6     -7.8        5.5
4  10.4    -29.0        5.0

In [36]:
dfdiabetes.isnull().sum()

age          0
deficit      0
c_peptide    0
dtype: int64

In [39]:
x1 = dfdiabetes.drop('c_peptide', axis = 1)
y1 = dfdiabetes['c_peptide']

In [42]:
# Separando treino e teste
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.37, random_state = 5762)

In [44]:
# Treinando o modelo

lr = LinearRegression()
lr.fit(x1_train, y1_train)

LinearRegression()

In [48]:
# Prediçoes para o treinamento e teste

y1_pred_train = lr.predict(x1_train)
y1_pred_test = lr.predict(x1_test)

In [51]:
# Avaliaçao dos resultados
import sklearn.metrics as metrics
from math import sqrt

MAE_train = metrics.mean_absolute_error(y1_train, y_pred_train) 
R2_train = metrics.r2_score(y1_train, y1_pred_train) # Coeficiente de determinaçao
RMSE_train = sqrt(metrics.mean_squared_error(y1_train, y1_pred_train))

print("----- Avaliaçao do treinamento -----")
print("MAE: ", round(MAE_train,2))
print('R2: ', round(R2_train,2))
print('RMSE: ', round(RMSE_train,2))

MAE_test = metrics.mean_absolute_error(y1_test, y1_pred_test) 
R2_test = metrics.r2_score(y1_test, y1_pred_test)
RMSE_test = sqrt(metrics.mean_squared_error(y1_test, y1_pred_test))
MSE_test = metrics.mean_squared_error(y1_test, y1_pred_test)

print("")
print("----- Avaliaçao do teste -----")
print("MAE: ", round(MAE_test,2))
print('R2: ', round(R2_test,2))
print('MSE:', round(MSE_test,2))  
print('RMSE: ', round(RMSE_test,2))

----- Avaliaçao do treinamento -----
MAE:  0.41
R2:  0.52
RMSE:  0.51

----- Avaliaçao do teste -----
MAE:  0.53
R2:  0.02
MSE: 0.44
RMSE:  0.66

---

## Tarefa de Classificação com SVM
- Dataset: bloodtransf.csv

In [15]:
# Base de classificação SVM
print(dfblood.shape)
dfblood.head()

(748, 5)

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1

In [53]:
dfblood.isnull().sum()

V1       0
V2       0
V3       0
V4       0
Class    0
dtype: int64

In [56]:
x2 = dfblood.drop('Class', axis = 1)
y2 = dfblood['Class']

In [57]:
# Separando treino e teste
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size = 0.37, random_state = 5762)

In [ ]:
# Treinando o modelo

---

## Tarefa de Clusterização com K-means
- Dataset: wine.csv

In [28]:
# Base de clusterização K-means
print(dfwine.shape)
dfwine.head()

(178, 14)

,class,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [33]:
dfwine['class'].unique()

array([1, 2, 3], dtype=int64)

In [54]:
dfwine.isnull().sum()

class                             0
Alcohol                           0
Malic_acid                        0
Ash                               0
Alcalinity_of_ash                 0
Magnesium                         0
Total_phenols                     0
Flavanoids                        0
Nonflavanoid_phenols              0
Proanthocyanins                   0
Color_intensity                   0
Hue                               0
OD280%2FOD315_of_diluted_wines    0
Proline                           0
dtype: int64