# Engenharia de Machine Learning - XP Educação - Trabalho Prático 2 - out/2022

## Carregando as bibliotecas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# carregando o dataset
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
df.tail()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

## 1) Qual o tamanho do dataset?

In [4]:
df.shape

(17379, 17)

### Resposta: 17379, 17

In [5]:
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

## 2) Qual a média da coluna windspeed?

In [6]:
df["windspeed"].mean()

0.1900976063064631

### Resposta: 0,1900976

## 3) Qual a média da coluna temp?

In [7]:
df["temp"].mean()

0.4969871684216586

### Resposta: 0,4969871

## 4) Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?

In [27]:
df2011 = df.loc[df["datetime"] < "2012-01-01"] # usando loc

In [28]:
df2011.shape

(8645, 17)

In [29]:
df[df["datetime"] < "2012-01-01"].shape

(8645, 17)

### Resposta: (8645, 17)

## 5) Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?

In [11]:
# df2012 = df.loc[(df["datetime"] > "2011-12-31") & (df["datetime"] < "2013-01-01")] # os registros vão até 2012

In [12]:
df2012 = df.loc[(df["datetime"] > "2011-12-31")]

In [30]:
df2012.shape

(8734, 17)

### Resposta:(8734, 17)

## 6) Quantas locações de bicicletas foram efetuadas em 2011?

In [14]:
# Analisar coluna total_count
df2011["total_count"].sum()

1243103

### Resposta: 1.243.103

## 7)Quantas locações de bicicletas foram efetuadas em 2012?

In [15]:
# Analisar coluna total_count
df2012["total_count"].sum()

2049576

### Resposta: 2.049.576

## 8) Qual estação do ano contém a maior média de locações de bicicletas?

In [16]:
#df.groupby("season").sum()

In [17]:
df.groupby("season")["total_count"].sum().sort_values()

season
1     471348
4     841613
2     918589
3    1061129
Name: total_count, dtype: int64

### Resposta: 3 (verão)

## 9) Qual estação do ano contém a menor média de locações de bicicletas?

In [18]:
# Analisando o resultado anterior
# Resposta: 1 Inverno

### Resposta: 1 (inverno)

## 10) Qual horário do dia contém a maior média de locações de bicicletas?

In [19]:
#df.groupby("hour").mean()

In [20]:
df.groupby("hour")["total_count"].mean().sort_values(ascending = False)

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

### Resposta: 17h

## 11) Qual horário do dia contém a menor média de locações de bicicletas?

In [21]:
# Pelo resultado anterior a resposta é: 4h

### Resposta: 4h

## 12) Que dia da semana contém a maior média de locações de bicicletas?

In [22]:
df.groupby("weekday")["total_count"].mean().sort_values()

weekday
0    177.468825
1    183.744655
6    190.209793
3    191.130505
2    191.238891
5    196.135907
4    196.436665
Name: total_count, dtype: float64

### Resposta: 4 (quinta-feira)

## 13) Que dia da semana contém a menor média de locações de bicicletas?

In [23]:
# Pelo resultado anterior a resposta é: 0 - domingo

### Resposta: 0 (domingo)

## 14) Às quartas-feiras (weekday = 3), qual horário do dia contém a maior média de locações de bicicletas?

In [31]:
dfWH = df.groupby(["weekday","hour"])["total_count"].mean()
dfWH

weekday  hour
0        0        93.990385
         1        77.432692
         2        61.627451
         3        31.144231
         4         9.362745
                    ...
6        19      239.932692
         20      180.865385
         21      156.000000
         22      139.663462
         23      115.855769
Name: total_count, Length: 168, dtype: float64

In [32]:
dfWH[3].sort_values(ascending = False)

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

### Resposta: 17h

## 15) Aos sábados (weekday = 6), qual horário do dia contém a maior média de locações de bicicletas?

In [26]:
dfWH[6].sort_values(ascending = False)

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64

### Resposta: 13h