# Desafio do Módulo 2 - Cientista de Dados - XP Educação

## Passos iniciais
- Importando as bibliotecas
- Carregando o dataset (stroke_data.csv)
- Verificando informações do dataset

In [32]:
import pandas as pd
import os

In [33]:
df = pd.read_csv("stroke_data.csv", index_col= "0")
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,,,,,,,,,,,
1,Female,18.0,0,0,No,Private,Urban,94.19,12.12,smokes,1
2,Male,58.0,1,0,Yes,Private,Rural,154.24,33.70,never_smoked,0
3,Female,36.0,0,0,Yes,Govt_job,Urban,72.63,24.70,smokes,0
4,Female,62.0,0,0,Yes,Self-employed,Rural,85.52,31.20,formerly smoked,0
5,Female,82.0,0,0,Yes,Private,Rural,59.32,33.20,smokes,1

In [34]:
# Separando os dados com as variaveis em x e o alvo em y
 
x = df.drop('stroke', axis=1)
y = df['stroke']

In [35]:
var = ["age", "hypertension", "heart_disease", "avg_glucose_level", "bmi"]
x = df[var]

In [36]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [37]:
from sklearn.tree import DecisionTreeClassifier

mod_arvore1 = DecisionTreeClassifier()

mod_arvore1.fit(x_train, y_train) # essa é a linha que treina o modelo!!!!

DecisionTreeClassifier()

In [38]:
# Prediçoes para o teste

y_pred_test1 = mod_arvore1.predict(x_test)

In [39]:
# Como availar os resultados?

from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, y_pred_test1))
print()
print("--------------------------------------------------------------------------------")
print()
print(classification_report(y_test, y_pred_test1))

[[5192 2766]
 [2822 9361]]

--------------------------------------------------------------------------------

              precision    recall  f1-score   support

           0       0.65      0.65      0.65      7958
           1       0.77      0.77      0.77     12183

    accuracy                           0.72     20141
   macro avg       0.71      0.71      0.71     20141
weighted avg       0.72      0.72      0.72     20141

In [40]:
# Acuràcia do modelo
import sklearn.metrics as metrics

print("Acuracia:", round(metrics.accuracy_score(y_test, y_pred_test1),3))

Acuracia: 0.723