# Trabalho Prático 2 - Ciência de Dados - XP Educação

## Carregando as bibliotecas

In [1]:
import sys
from operator import add

from pyspark.sql import SparkSession
import os

In [2]:
os.chdir("C:\\Users\\jooji\\OMNP\\XP-Cursos\\CienciaDados-R")

In [8]:
spark = SparkSession.builder\
            .master("local[*]")\
          .getOrCreate()

df = (spark.read
  .format("csv")
  .option("header", "true")
  .option("inferSchema", "true")
  .load("all_stocks_5yr.csv")
)

In [9]:
df.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- Name: string (nullable = true)

In [4]:
df.show()

+-------------------+-----+-----+-----+-----+--------+----+
|               date| open| high|  low|close|  volume|Name|
+-------------------+-----+-----+-----+-----+--------+----+
|2013-02-08 00:00:00|15.07|15.12|14.63|14.75| 8407500| AAL|
|2013-02-11 00:00:00|14.89|15.01|14.26|14.46| 8882000| AAL|
|2013-02-12 00:00:00|14.45|14.51| 14.1|14.27| 8126000| AAL|
|2013-02-13 00:00:00| 14.3|14.94|14.25|14.66|10259500| AAL|
|2013-02-14 00:00:00|14.94|14.96|13.16|13.99|31879900| AAL|
|2013-02-15 00:00:00|13.93|14.61|13.93| 14.5|15628000| AAL|
|2013-02-19 00:00:00|14.33|14.56|14.08|14.26|11354400| AAL|
|2013-02-20 00:00:00|14.17|14.26|13.15|13.33|14725200| AAL|
|2013-02-21 00:00:00|13.62|13.95| 12.9|13.37|11922100| AAL|
|2013-02-22 00:00:00|13.57| 13.6|13.21|13.57| 6071400| AAL|
|2013-02-25 00:00:00| 13.6|13.76| 13.0|13.02| 7186400| AAL|
|2013-02-26 00:00:00|13.14|13.42| 12.7|13.26| 9419000| AAL|
|2013-02-27 00:00:00|13.28|13.62|13.18|13.41| 7390500| AAL|
|2013-02-28 00:00:00|13.49|13.63|13.39|13.43| 6143600| AAL|
|2013-03-01 00:00:00|13.37|13.95|13.32|13.61| 7376800| AAL|
|2013-03-04 00:00:00| 13.5|14.07|13.47| 13.9| 8174800| AAL|
|2013-03-05 00:00:00|14.01|14.05|13.71|14.05| 7676100| AAL|
|2013-03-06 00:00:00|14.52|14.68|14.25|14.57|13243200| AAL|
|2013-03-07 00:00:00| 14.7|14.93| 14.5|14.82| 9125300| AAL|
|2013-03-08 00:00:00|14.99| 15.2|14.84|14.92|10593700| AAL|
+-------------------+-----+-----+-----+-----+--------+----+
only showing top 20 rows

In [5]:
df.limit(10).toPandas()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
5 2013-02-15  13.93  14.61  13.93  14.50  15628000  AAL
6 2013-02-19  14.33  14.56  14.08  14.26  11354400  AAL
7 2013-02-20  14.17  14.26  13.15  13.33  14725200  AAL
8 2013-02-21  13.62  13.95  12.90  13.37  11922100  AAL
9 2013-02-22  13.57  13.60  13.21  13.57   6071400  AAL

## 1) Quantos registros há na planilha?

In [6]:
df.describe().show()

+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|summary|             open|             high|              low|            close|           volume|  Name|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|  count|           619029|           619032|           619032|           619040|           619040|619040|
|   mean|83.02333431454738| 83.7783106934728|82.25609641375341|83.04376276476505|4321823.395568945|  null|
| stddev|97.37876904332335|98.20751890446381|96.50742105809039|97.38974800165816|8693609.511967558|  null|
|    min|             1.62|             1.69|              1.5|             1.59|                0|     A|
|    max|           2044.0|          2067.99|          2035.11|           2049.0|        618237630|   ZTS|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+------+

In [7]:
totalRegistros = df.cache().count()
totalRegistros

619040

### Resposta: 619040

## 2) Quantos registros há na planilha para a ação da Apple (AAPL)?

In [8]:
df.filter(df.Name=='AAPL').describe().show()

+-------+------------------+------------------+------------------+------------------+-------------------+----+
|summary|              open|              high|               low|             close|             volume|Name|
+-------+------------------+------------------+------------------+------------------+-------------------+----+
|  count|              1259|              1259|              1259|              1259|               1259|1259|
|   mean|109.05542891183475|109.95111834789516|108.14158888006372|109.06669849086583|5.404789973550437E7|null|
| stddev| 30.54922002458826|30.686186407983914|30.376223585852472|30.556811676964696|  3.3468353335784E7|null|
|    min|           55.4242|           57.0857|           55.0142|           55.7899|           11475922|AAPL|
|    max|            179.37|             180.1|            178.25|            179.26|          266833581|AAPL|
+-------+------------------+------------------+------------------+------------------+-------------------+----+

### Resposta: 1259

## 3) Quantas empresas distintas têm registros nessa planilha?

In [83]:
df.groupBy(["Name"]).count().show()

+----+-----+
|Name|count|
+----+-----+
|ALXN| 1259|
| AIV| 1259|
| AVY| 1259|
|BF.B| 1259|
| AXP| 1259|
| BLK| 1259|
|AAPL| 1259|
| ALL| 1259|
| ADI| 1259|
| AGN| 1259|
|AMGN| 1259|
|ANTM| 1259|
| AOS| 1259|
|ANDV| 1259|
| ACN| 1259|
| ARE| 1259|
| AIG| 1259|
| AFL| 1259|
| APH| 1259|
| AME| 1259|
+----+-----+
only showing top 20 rows

In [85]:
df.select('Name').distinct().count()

505

### Resposta: 505

## 4) Com qual frequência o preço de uma ação no fechamento é maior do que o preço na abertura?

In [11]:
fechamentoMaior = df.filter(df.close > df.open).count()

In [12]:
fechamentoMaior/totalRegistros*100

51.52655724993538

#### Resposta: 51.5%

## 5) Qual o maior valor das ações da Apple (AAPL) na história?

In [13]:
df.filter(df.Name=='AAPL').describe('high').show()

+-------+------------------+
|summary|              high|
+-------+------------------+
|  count|              1259|
|   mean|109.95111834789516|
| stddev|30.686186407983914|
|    min|           57.0857|
|    max|             180.1|
+-------+------------------+

#### Resposta: 180,1

## 6) Qual ação tem a maior volatilidade? Uma forma é medir o desvio-padrão do preço de fechamento de cada ação e considerar a ação de maior desvio-padrão.

In [14]:
df.groupBy("Name").agg({'close': 'stddev'}).show()

+----+------------------+
|Name|     stddev(close)|
+----+------------------+
|ALXN|29.230294072399754|
| AIV| 6.048727635117268|
| AVY|19.555249297434845|
|BF.B| 7.065456533842545|
| AXP|  10.8940649082697|
| BLK| 62.33688426948667|
|AAPL|30.556811676964696|
| ALL|14.197124571786505|
| ADI|13.383630814638682|
| AGN|59.026349830314544|
|AMGN| 25.63637154050681|
|ANTM| 40.54382034234016|
| AOS|13.361741183670283|
|ANDV|19.454173558876906|
| ACN|22.129030550592894|
| ARE| 19.33966502189914|
| AIG| 6.678354356273762|
| AFL| 8.820823784419913|
| APH| 14.20236142838615|
| AME| 7.353821534987904|
+----+------------------+
only showing top 20 rows

In [15]:
std = df.groupBy("Name").agg({'close': 'stddev'})

In [16]:
type(std)

pyspark.sql.dataframe.DataFrame

In [17]:
std.describe().show()

+-------+----+------------------+
|summary|Name|     stddev(close)|
+-------+----+------------------+
|  count| 505|               505|
|   mean|null| 18.39633820909574|
| stddev|null| 26.28239093960824|
|    min|   A|1.4871795570849995|
|    max| ZTS|  320.533473018748|
+-------+----+------------------+

In [18]:
std.filter(std["stddev(close)"] > 320).show()

+----+----------------+
|Name|   stddev(close)|
+----+----------------+
|PCLN|320.533473018748|
+----+----------------+

#### Resposta: PCLN   
*OBS: Encontrar uma solução melhor

## 7) Qual o dia com maior volume total de negociação da bolsa?

In [19]:
df.filter(df.volume >= 600237630).show()

+-------------------+-----+----+-----+-----+---------+----+
|               date| open|high|  low|close|   volume|Name|
+-------------------+-----+----+-----+-----+---------+----+
|2014-02-24 00:00:00|47.02|47.2|46.23|46.23|618237630|  VZ|
+-------------------+-----+----+-----+-----+---------+----+

In [20]:
df.describe('volume').show()

+-------+-----------------+
|summary|           volume|
+-------+-----------------+
|  count|           619040|
|   mean|4321823.395568945|
| stddev|8693609.511967558|
|    min|                0|
|    max|        618237630|
+-------+-----------------+

In [21]:
maxvol = df.groupBy("date").sum('volume').show()

+-------------------+-----------+
|               date|sum(volume)|
+-------------------+-----------+
|2014-04-09 00:00:00| 2189076732|
|2014-06-09 00:00:00| 1649692496|
|2014-07-29 00:00:00| 2021459803|
|2014-10-21 00:00:00| 2431568981|
|2015-04-09 00:00:00| 1698700851|
|2015-07-31 00:00:00| 2051524948|
|2015-12-10 00:00:00| 2085765987|
|2016-01-06 00:00:00| 2715403317|
|2016-05-31 00:00:00| 2526836839|
|2017-08-14 00:00:00| 1585742854|
|2013-10-22 00:00:00| 2686834831|
|2014-05-08 00:00:00| 2005271846|
|2016-07-13 00:00:00| 1850951381|
|2017-06-13 00:00:00| 1892639852|
|2014-03-14 00:00:00| 2094511873|
|2014-06-04 00:00:00| 1648315892|
|2014-06-12 00:00:00| 1877809458|
|2015-05-11 00:00:00| 1750884938|
|2017-05-16 00:00:00| 1994864591|
|2016-07-08 00:00:00| 2107410018|
+-------------------+-----------+
only showing top 20 rows

In [22]:
maxvol = df.groupBy("date").sum('volume')

In [23]:
maxvol.describe().show()

+-------+--------------------+
|summary|         sum(volume)|
+-------+--------------------+
|  count|                1259|
|   mean|2.1250052063486893E9|
| stddev| 4.547218850679499E8|
|    min|           728261080|
|    max|          4607945196|
+-------+--------------------+

In [24]:
maxvol.filter(maxvol["sum(volume)"] >= 4607945196).show()

+-------------------+-----------+
|               date|sum(volume)|
+-------------------+-----------+
|2015-08-24 00:00:00| 4607945196|
+-------------------+-----------+

#### Resposta: 24/08/2015

## 8) Qual a ação mais negociada da bolsa, em volume de transações?

In [70]:
dfAcoes = df.groupBy("Name").agg({'volume': 'sum'})

In [71]:
dfAcoes.show()

+----+-----------+
|Name|sum(volume)|
+----+-----------+
|ALXN| 2218905439|
| AIV| 1509190118|
| AVY|  957891856|
|BF.B| 1229412140|
| AXP| 6009726906|
| BLK|  805429681|
|AAPL|68046305767|
| ALL| 3030542511|
| ADI| 3086738254|
| AGN| 3626016707|
|AMGN| 4362944349|
|ANTM| 2371104335|
| AOS| 1585840935|
|ANDV| 3295440590|
| ACN| 3268663766|
| ARE|  664155083|
| AIG|10600109436|
| AFL| 2664486567|
| APH| 1541910519|
| AME| 1646958499|
+----+-----------+
only showing top 20 rows

In [72]:
dfAcoes.describe().show()

+-------+----+--------------------+
|summary|Name|         sum(volume)|
+-------+----+--------------------+
|  count| 505|                 505|
|   mean|null|5.2977852570158415E9|
| stddev|null| 8.836941751469303E9|
|    min|   A|            92947779|
|    max| ZTS|        117884953591|
+-------+----+--------------------+

In [74]:
dfAcoes.filter(dfAcoes["sum(volume)"] >= 117884953591).show()

+----+------------+
|Name| sum(volume)|
+----+------------+
| BAC|117884953591|
+----+------------+

#### Resposta: BAC

## 9) Quantas ações começam com a letra “A”?

In [135]:
acoes = df.select('Name').distinct()
acoesA = df.filter(acoes['Name'].rlike("^[A]"))

In [136]:
acoesA.select("Name").distinct().count()

59

### Resposta: 59

---

## 10) Com qual frequência o preço mais alto do dia da ação também é o preço de fechamento?

In [38]:
altaIgualFechamento = df.filter(df.high == df.close).cache().count()
frequencia = altaIgualFechamento/totalRegistros*100
round(frequencia,2)

1.2

#### Resposta: 1,2%

---

## 11) Em qual dia a ação da Apple mais subiu entre a abertura e o fechamento, de forma absoluta?

In [40]:
dfApple = df.filter(df.Name=='AAPL')

In [56]:
dfApple = dfApple.withColumn("Retorno", dfApple.close - dfApple.open)

In [58]:
dfApple.show()

+-------------------+-------+-------+-------+-------+---------+----+--------------------+
|               date|   open|   high|    low|  close|   volume|Name|             Retorno|
+-------------------+-------+-------+-------+-------+---------+----+--------------------+
|2013-02-08 00:00:00|67.7142|68.4014|66.8928|67.8542|158168416|AAPL| 0.14000000000000057|
|2013-02-11 00:00:00|68.0714|69.2771|67.6071|68.5614|129029425|AAPL|  0.4900000000000091|
|2013-02-12 00:00:00|68.5014|68.9114|66.8205|66.8428|151829363|AAPL|  -1.658600000000007|
|2013-02-13 00:00:00|66.7442|67.6628|66.1742|66.7156|118721995|AAPL|-0.02860000000001...|
|2013-02-14 00:00:00|66.3599|67.3771|66.2885|66.6556| 88809154|AAPL| 0.29570000000001073|
|2013-02-15 00:00:00|66.9785|67.1656|65.7028|65.7371| 97924631|AAPL| -1.2413999999999987|
|2013-02-19 00:00:00|65.8714|66.1042|64.8356|65.7128|108854046|AAPL|-0.15859999999999275|
|2013-02-20 00:00:00|65.3842|65.3842|64.1142|64.1214|118891367|AAPL| -1.2628000000000128|
|2013-02-21 00:00:00|63.7142|64.1671|63.2599|63.7228|111596821|AAPL|0.008600000000001273|
|2013-02-22 00:00:00|64.1785|64.5142|63.7999|64.4014| 82583823|AAPL| 0.22289999999999566|
|2013-02-25 00:00:00|64.8356|65.0171|63.2242|63.2571| 92899597|AAPL| -1.5784999999999982|
|2013-02-26 00:00:00|63.4028|64.5056|62.5228|64.1385|125096657|AAPL|  0.7356999999999942|
|2013-02-27 00:00:00|64.0614|64.6342|62.9499|63.5099|146674682|AAPL| -0.5515000000000043|
|2013-02-28 00:00:00|63.4357|63.9814|63.0571|63.0571| 80532382|AAPL| -0.3785999999999987|
|2013-03-01 00:00:00|62.5714|62.5971|61.4257|61.4957|137899041|AAPL| -1.0756999999999977|
|2013-03-04 00:00:00|61.1142|61.1714|59.8571|60.0071|145406366|AAPL| -1.1070999999999955|
|2013-03-05 00:00:00|60.2114|62.1699|60.1071|61.5919|159298020|AAPL|   1.380500000000005|
|2013-03-06 00:00:00|62.0728|62.1785|60.6328|60.8088|114903180|AAPL|  -1.264000000000003|
|2013-03-07 00:00:00|60.6428|61.7157|60.1514|61.5117|116992841|AAPL|  0.8688999999999965|
|2013-03-08 00:00:00|61.3999|62.2042|61.2299|61.6742| 97854442|AAPL| 0.27429999999999666|
+-------------------+-------+-------+-------+-------+---------+----+--------------------+
only showing top 20 rows

In [62]:
dfApple.describe().show()

+-------+------------------+------------------+------------------+------------------+-------------------+----+--------------------+
|summary|              open|              high|               low|             close|             volume|Name|             Retorno|
+-------+------------------+------------------+------------------+------------------+-------------------+----+--------------------+
|  count|              1259|              1259|              1259|              1259|               1259|1259|                1259|
|   mean|109.05542891183475|109.95111834789516|108.14158888006372|109.06669849086583|5.404789973550437E7|null|0.011269579030976617|
| stddev| 30.54922002458826|30.686186407983914|30.376223585852472|30.556811676964696|  3.3468353335784E7|null|  1.2835876682697762|
|    min|           55.4242|           57.0857|           55.0142|           55.7899|           11475922|AAPL| -7.3700000000000045|
|    max|            179.37|             180.1|            178.25|            179.26|          266833581|AAPL|                8.25|
+-------+------------------+------------------+------------------+------------------+-------------------+----+--------------------+

In [66]:
dfApple.filter(dfApple.Retorno >= 8.25).show()

+-------------------+-----+-----+----+------+---------+----+-------+
|               date| open| high| low| close|   volume|Name|Retorno|
+-------------------+-----+-----+----+------+---------+----+-------+
|2015-08-24 00:00:00|94.87|108.8|92.0|103.12|162206292|AAPL|   8.25|
+-------------------+-----+-----+----+------+---------+----+-------+

### Resposta: 25/08/2015

-------------------------------------------------------------------

## 12) Em média, qual o volume diário de transações das ações da AAPL?

In [68]:
dfApple.describe("volume").show()

+-------+-------------------+
|summary|             volume|
+-------+-------------------+
|  count|               1259|
|   mean|5.404789973550437E7|
| stddev|  3.3468353335784E7|
|    min|           11475922|
|    max|          266833581|
+-------+-------------------+

In [69]:
5.404789973550437E7

54047899.73550437

### Resposta: ~54 milhões

----------------

## 13) Quantas ações tem 1, 2, 3, 4 e 5 caracteres em seu nome, respectivamente?

In [205]:
acoes = df.select('Name').distinct()
acoes.show()

+----+
|Name|
+----+
|ALXN|
| AIV|
| AVY|
|BF.B|
| AXP|
| BLK|
|AAPL|
| ALL|
| ADI|
| AGN|
|AMGN|
|ANTM|
| AOS|
|ANDV|
| ACN|
| ARE|
| AIG|
| AFL|
| APH|
| AME|
+----+
only showing top 20 rows

In [206]:
import pyspark.sql.functions as F
dfChar = acoes.withColumn("QtdChar", F.length("Name"))
dfChar.show()

+----+-------+
|Name|QtdChar|
+----+-------+
|ALXN|      4|
| AIV|      3|
| AVY|      3|
|BF.B|      4|
| AXP|      3|
| BLK|      3|
|AAPL|      4|
| ALL|      3|
| ADI|      3|
| AGN|      3|
|AMGN|      4|
|ANTM|      4|
| AOS|      3|
|ANDV|      4|
| ACN|      3|
| ARE|      3|
| AIG|      3|
| AFL|      3|
| APH|      3|
| AME|      3|
+----+-------+
only showing top 20 rows

In [207]:
dfQtdChar = dfChar.groupBy("QtdChar").agg({'Name': 'count'})

In [208]:
dfQtdChar.show()

+-------+-----------+
|QtdChar|count(Name)|
+-------+-----------+
|      1|         10|
|      3|        323|
|      5|          5|
|      4|        117|
|      2|         50|
+-------+-----------+

### Resposta: 10, 50, 323, 117, 5

----

## 14) Qual a ação menos negociada da bolsa, em volume de transações?

In [79]:
# Usando o dataframe da questão 8
dfAcoes.describe().show()

+-------+----+--------------------+
|summary|Name|         sum(volume)|
+-------+----+--------------------+
|  count| 505|                 505|
|   mean|null|5.2977852570158415E9|
| stddev|null| 8.836941751469303E9|
|    min|   A|            92947779|
|    max| ZTS|        117884953591|
+-------+----+--------------------+

In [78]:
dfAcoes.filter(dfAcoes["sum(volume)"] <= 92947779).show()

+----+-----------+
|Name|sum(volume)|
+----+-----------+
|APTV|   92947779|
+----+-----------+

### *Resposta: APTV*

----

## 15) Com qual frequência o preço de fechamento é também o mais alto do dia?

#### Igual a pergunta 10???